Production_Game_Jam_Project/Library
Production_Game_Jam_Project/Temp
Production_Game_Jam_Project/Logs/shadercompiler-AssetImportWorker0.log
Production_Game_Jam_Project/Logs/shadercompiler-UnityShaderCompiler.exe7.log
*.log
*.log
*.log
